mark {
    display: inline;
    width: fit-content;
    border-radius: 5px;
}

ul {
    margin: 0em !important;
}

.display-7 {
    font-size: 1.25rem;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

mark.green {
    background-color: #98fb98c0;
}

mark.yellow {
    background-color: #eee8aac0;
}

mark.blue {
    background-color: #afeeeec0;
}

mark.red {
    background-color: #d87093c0;
}

canvas.graph {
    width: 100%;
    max-width: 800px;
}

div.definition {
    border: 1px solid #a6a6a6;
    border-radius: 5px;
}

div.comment {
    font-style: italic;
    color: gray;
}

div.green {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #71bb77;
    font-weight: bolder;
}

div.light-green {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #8dca92;
    font-weight: bolder;
}

div.pale-green {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #aae0ae;
    font-weight: bolder;
}

div.cyan {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #71b8bb;
    font-weight: bolder;
}

div.light-blue {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #7dc2e2;
    font-weight: bolder;
}

div.dark-yellow {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #dcc25b;
    font-weight: bolder;
}

div.yellow {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #e2e077;
    font-weight: bolder;
}

div.orange {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #d19842;
    font-weight: bolder;
}

div.light-orange {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #e2bf7d;
    font-weight: bolder;
}

div.border-black {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    font-weight: bolder;
}

div.math {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

ul.index {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0.25rem 0rem;
}

li.index-element {
    margin: 0.25rem 0rem;
}

mjx-container.MathJax {
    margin: 0px !important;
}